.care_flex{
    display: flex;
    margin-top: 52px;
    justify-content: space-around;
    h3{
       margin-right: 40px;
    }
    .care_vector__img{
        background-image: url(./vector_img.svg);
        background-repeat: no-repeat;
        width: 16px;
        height: 11px;
        position: relative;
        top: 5px;
    }
    .care_vector__img2{
        background-image: url(./vector_img2.svg);
        background-repeat: no-repeat;
        width: 16px;
        height: 11px;
        position: relative;
        top: 5px;
    }
}
.custom{
  .custom-radio{
    display: flex;
    justify-content: space-around;
}
.custom-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-radio>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    position: absolute;
    right: 0;
  }
  .custom-radio>span::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 39px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% 80%;
  }
  .custom-radio>input:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  .custom-radio>input:checked+span::before {
    border: 2px solid var(--color-green);
    width: 20px;
    height: 20px;
    background-image: url(./for_radio.svg);
  }

.care_flex1{
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    p{
        width: 170px;
        text-align: left;
        margin-left: 42px;
    }
    input{
        width: 24px;
        height: 24px;
    }
}
}
